@import '../../palette';


.home-add-movie {
    width: 480px;
    
    &__title {
        margin-bottom: 2rem;
    }
}

.home-add-movie-form {
    &__label {
        display: block; 
        color: $color-red;
        text-transform: uppercase;
        margin-bottom: 2em;
        font-weight: 600;
    }

    &__actions {
        margin-top: 3em;
        text-align: right;
    }
}