.movie-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 2.5rem 0;
    justify-content: space-between;

    &__item {
        list-style: none;
        padding: 0;
    }
}