@import '../../palette';


.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        font-size: 1.25rem;
        border-radius: .25em;
        padding: .75em;
        width: 100%;
        border: none;
        background: $color-grey-dark;
        color: $color-white;
        font-weight: 400;
        transition: box-shadow .1s ease-in-out;
        
        &:focus {
            box-shadow: inset 0 0 .5em 0 $color-grey-light;
        }
    }

    &__button {
        margin-left: 1em;
    }
}