@import './palette';

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
}

body {
    background-color: $color-grey;
}

h1 {
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

input {
    outline: none;
}

input,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
}

.tp-header {
    font-size: 2.5rem;
    color: $color-white;
    font-weight: 300;
}

@import './components/components-styles.scss';
@import './containers/Home/home-styles.scss';

@import './containers/NotFound/NotFound.scss';
@import './layouts/layout-styles.scss';